html, body {
    direction: rtl;
    text-align: right;
    font-family: 'Vazir';
}

.layout-fixed .main-sidebar {
    left: unset;
    right: 0;
}

@media all and (min-width: 768px) {
    body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
        transition: margin-right 0.3s ease-in-out;
        margin-left: unset;
        margin-right: 250px;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: unset !important;
        margin-right: 4.6rem !important;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
        margin-right: 0;
        width: 4.6rem;
    }
}

@media all and (max-width: 991.98px) {
    body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .content-wrapper::before, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-footer::before, body:not(.sidebar-mini-md) .main-header, body:not(.sidebar-mini-md) .main-header::before {
        margin-left: unset;
        margin-right: 0;
    }
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before {
    margin-left: unset;
    margin-right: -250px;
}

.nav {
    padding-right: 0;
}

.nav-sidebar > .nav-item .nav-icon {
    margin-right: .05rem;
    margin-left: .2rem;
}

.nav-sidebar .nav-link > .right:nth-child(2), .nav-sidebar .nav-link > p > .right:nth-child(2) {
    right: unset;
    left: 2.2rem;
}

.nav-sidebar .nav-link > .right, .nav-sidebar .nav-link > p > .right {
    right: unset;
    left: 1rem;
}

.navbar-nav {
    padding-left: unset;
    padding-right: 0;
}

.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    border-left: 0;
    border-right: 1px solid #ced4da;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;;
    border-bottom-right-radius: 0.25rem;;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
    border-right: 0;
    border-left: 1px solid #ced4da;
}

.login-box, .register-box {
    transform: translateY(-5rem);
}

.login-card-body input {
    direction: ltr;
    text-align: center;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.card-title {
    float: unset;
    margin: 5px 0;
}

// bootstrap
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem -1rem;
}

#change_prices_modal {
    .custom-control {
        padding-left: unset;
        padding-right: 1.5rem;
    }

    .custom-control-inline {
        margin-right: unset;
        margin-left: 1rem;
    }

    .custom-control-label::before {
        right: -1.5rem;
    }

    .custom-control-label::after {
        right: -1.5rem;
    }
}

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0.25rem;;
    border-bottom-right-radius: 0.25rem;;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;;
    border-bottom-left-radius: 0.25rem;;
}

.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: -4px;
    top: 3px;
}

.brand-link .brand-image {
    float: unset;
    margin-right: 13px;
    max-height: 45px;
    margin-top: 5px;
    width: auto;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #686868;
    color: #ffffff;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    //padding: 0.8125rem 0.5rem;
    padding: 0;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
}


.datepicker-plot-area .datepicker-day-view .table-days td {
    padding: 0 !important;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem .375rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    //border-top-left-radius: 0;
    //border-bottom-left-radius: 0;
}
